@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */

  font-family: "Pretendard-Regular", sans-serif;
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "Pretendard-Regular", sans-serif;

  background-color: #f8f8f8;
}

div {
  font-family: "Pretendard-Regular", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#pwa-header {
  position: sticky;
  top: 0;
  padding: 0.5rem 1rem;
  padding-top: calc(0.3rem + env(safe-area-inset-top));
  background-color: #33c481;
}

.selected {
  color: white;
  background-color: #222222;
  border-radius: 4px;
  font-weight: bold;
}

.not-selected {
  color: #a5a5a5;
  background-color: #eeeeee;
  border-radius: 4px;
  font-weight: 500;
}

.button-selected {
  color: #222222;
  background-color: white;
  border-radius: 4px;
  width: 120px;
  height: 39px;
  text-align: center;
  font-weight: bold;
  box-shadow: 0px 3px 8px 0 rgba(0, 0, 0, 0.12);
}

.button-not-selected {
  color: #a5a5a5;
  background-color: #eeeeee;
  border-radius: 4px;
  width: 120px;
  height: 39px;
  text-align: center;
  font-weight: 500;
}
