@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  font-family: "Pretendard-Regular", sans-serif;
}

*::-webkit-scrollbar {
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "Pretendard-Regular", sans-serif;

  background-color: #ffffff;
}

div {
  font-family: "Pretendard-Regular", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#pwa-header {
  position: sticky;
  top: 0;
  padding: 0.5rem 1rem;
  padding-top: calc(0.3rem + env(safe-area-inset-top));
  background-color: #33c481;
}

.custom-radio {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.custom-radio::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.selected {
  color: white;
  background-color: #222222;
  font-weight: bold;
}

.not-selected {
  color: #a5a5a5;
  background-color: #f8f8f8;
  border: 1px solid #eeeeee;
  font-weight: 500;
}

.button-selected {
  color: #222222;
  background-color: white;
  border-radius: 4px;
  width: 120px;
  height: 39px;
  text-align: center;
  font-weight: bold;
  box-shadow: 0px 3px 8px 0 rgba(0, 0, 0, 0.12);
}

.button-not-selected {
  color: #a5a5a5;
  background-color: #eeeeee;
  border-radius: 4px;
  width: 120px;
  height: 39px;
  text-align: center;
  font-weight: 500;
}

.scrollable-div {
  /* 스크롤바가 나타날 div의 높이 */
  overflow-y: auto; /* 수직 방향으로만 스크롤바를 자동으로 표시 */
  overflow-x: hidden;
}

/* 스크롤바 트랙(바탕) 스타일링 */
.scrollable-div::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* 트랙의 배경 색상 */
  border-radius: 10px; /* 트랙의 모서리 둥글게 */
}

/* 스크롤바 핸들(움직이는 부분) 스타일링 */
.scrollable-div::-webkit-scrollbar-thumb {
  background-color: #c1c1c1; /* 핸들의 배경 색상 */
  border-radius: 10px; /* 핸들의 모서리 둥글게 */
}

/* 스크롤바 너비 지정 */
.scrollable-div::-webkit-scrollbar {
  width: 5px; /* 수직 스크롤바의 너비 */
  height: 5px; /* 수평 스크롤바의 높이 */
}
